.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.text {
    font: var(--font-m);
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--warn-primary-color);
    }

    .text {
        color: var(--warn-secondary-color);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size_xl {
    .title {
        font-size: var(--font-line-xl);
        line-height: calc(var(--font-line-xl) + 12px);
    }

    .text {
        font-size: var(--font-xl);
    }
}
