.articleDetails {
    min-height: 100%;
}

.avatar {
    margin: auto;
    display: block;
}

.block {
    margin-bottom: 30px;
}

.articleDetailsInfo {
    svg {
        fill: var(--secondary-color);
    }
}

.header {
    display: flex;
    justify-content: space-between;
}
