@mixin size($s) {
    width: $s;
    height: $s;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.border {
    border: 2px solid black;
}

.size-m {
    @include size(40px);
}

.size-l {
    @include size(70px);
}

.size-xl {
    @include size(150px);
}
