.articleListItem {
    background: var(--skeleton-color);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
}

.viewsIcon {
    margin-left: 4px;
    fill: var(--primary-color);
}

.compact {
    &.articleListItem {
        width: 220px;
    }

    .imageWrapper {
        position: relative;
        width: 200px;
        width: 100%;
        min-height: 200px;
    }

    .image {
        width: 200px;
        width: 100%;
        max-height: 200px;
        object-fit: contain;
    }

    .date {
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .infoWrapper {
        display: flex;
        width: 200px;
        align-items: center;
    }

    .types {
        margin-right: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 130px;
    }

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.detailed {
    &.articleListItem {
        width: 100%;
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .username {
        margin-right: auto;
        margin-left: 10px;
    }

    .title {
        margin-bottom: 10px;
    }

    .types {
        margin-bottom: 10px;
    }

    .image {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .textBlock {
        h3 {
            display: none;
        }

        height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        margin-bottom: 10px;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .readMoreBtn {
        margin-right: auto;
    }
}
