.addCommentForm {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 20px;
}

.input {
    flex-grow: 1;

    & ::placeholder {
        color: var(--secondary-color);
    }
}
