.global_theme_dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;

    // skeleton
    --skeleton-shadow: #032a9e;
    --skeleton-color: #1d3c9a;

    // code
    --code-bg-color: #0c0c6b;
}
