.dropdown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;

    &OnLeft {
        right: 0;
    }

    &OnRight {
        left: 0;
    }
}

.item {
    cursor: pointer;
    padding: 10px 25px;
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    box-sizing: border-box;
    border: 2px solid var(--inverted-bg-color);
    text-align: center;
}

.active {
    background: var(--primary-bg);
    color: var(--primary-color);
}
