.articlesPageFilters {
    margin-bottom: 20px;
}

.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.searchInput {
    input {
        padding: 4px 10px;
    }

    margin-bottom: 30px;
}
